.aboutPageDisplay {
    display: grid;
    font: inherit;
}

.aboutPageDisplay h1 {
    margin: 0 auto;
}

.aboutPageDisplay p {
    display: inline-block;
    text-align: left; 
    max-width: 400px; 
    margin: 0 auto;
    padding-bottom: 2px;
}
