.ProfilePageDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.ProfilePageDisplay article > p,
.ProfilePageDisplay  h3 {
    display: inline;
    margin-right: 0.5rem;
}
