.TodoFormDisplay {
    display: flex;
    justify-content: center;
    font: inherit;
    padding-top: 0.6rem;
    gap: 0.3rem;
}

.TodoFormDisplay button {
  background-color: #c68f8a;
  border-width: 5px;
  border-style: outset;
  border-color: #c35023;
  font: inherit;
  cursor: pointer;
  min-width: 44px;
  min-height: 25px;
}

.TodoFormDisplay button:not(:disabled) {
  color: #ffffff;
}

.TextInputDisplay input:hover, input:focus{
    border: 2px solid #c35023;
    outline: none;
}