.todoListDisplay {
    display: grid;
    justify-content: center;
    list-style-type: none;
}

.todoListDisplay li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.todoListDisplay label {
    padding-right: 0.5rem;
}

.todoListDisplay input[type="checkbox"] {
  accent-color: #B7410E; /* Changes the checked background color */
  transform: scale(1.2);  /* Optional: Increases the overall size */
  
}