.todoListDisplay {
    display: grid;
    justify-content: center;
    list-style-type: none;
}

.todoListMessage {
    text-decoration: underline;
    background-color: #deafac;
    color: #c35023;
}

.todoListDisplay li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.todoListDisplay label {
    padding-right: 0.5rem;
}

.todoListDisplay input[type="checkbox"] {
  accent-color: #c35023;
  transform: scale(1.2);  
}