@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  font-size: 18px;
  font-family: 'Crimson Text', sans-serif;
  background-color:  #efcb89;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: black;
  font-weight: 700;
}

h1 { font-size: 2.5rem; line-height: 1.2; }
h2 { font-size: 2.0rem; line-height: 1.3; }
h3 { font-size: 1.5rem; line-height: 1.4; }


button {
  background: none;
  background-color: rgb(238, 222, 198);
  padding: 2px;
  font: inherit;
  cursor: pointer;
  min-width: 44px;
  min-height: 24px;
}

select {
  font-size: 0.9rem;
  border: 2px solid #B7410E;
  font-family: 'Neuton', sans-serif;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
} 

:focus {
    border-color: black;  
    border-width: 3px;
    outline: none;  
}

input[type="checkbox"]:focus {
  outline: solid black;
  border-radius: 0.1rem;
}

/* Tablet screen styles */
@media screen and (min-width: 577px) {
  body {
    font-size: 18px;
  }
}

/* Computer screen styles */
@media screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }
} 